h1 ,h2 {

    font-family:"Courier New" , "Monaco"; 
    font-size: 40px; 
    
}

h1 {

    color:coral;
}

h1.BTS-page-heading , .page-heading{
    text-align: center; 

}

h2.Artists {
    
    margin-top: 5cm; 

}

h2.BTS-Members-H {
    margin-top: 5cm; 

}

h2.albums {
    margin-top: 3.5cm; 
    




}

h2{
    color:hotpink; 
    text-align: center; 
}

h2.tracks{
    
    margin-top: 3cm; 
    font-family:"Impact"; 
    font-weight:900; 
    font-size:50px; 

}

.BTS-image {

    border-radius: 8px;
    width: 400px; 


}
.Mamamoo-image {
    border-radius: 8px; 
  

}

figure.BTS, figure.MAMAMOO, figure.TXT {
    display: inline-block; 

} 

figure figcaption {
    text-align: center; 
    font-family:"Courier New" , "Monaco"; 
    color:#50C878; 
    font-weight: bold; 
    font-size: 25px; 

}

.grid-container-2 {
    display: grid; 

}



div {

    display: flex; 
    justify-content: center; 


}

body {
    background-color:white;

}

.BTS-Page-Intro {

    display:flex; 
    align-items: center; 
    justify-content: center;

}

.BTS-Intro-img {
    flex:0.7; 
    float: left; 



}


.P-Intro {
    flex:2; 
    font-family: "Courier New" , "Monaco"; 
    font-stretch: condensed; 
}

.idek {

    font-size: 20px; 
}

.grid-container-1 {
    display: grid; 
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px, 200px, 200px;
    grid-gap: 200px;
    row-gap: 50px;
    
}

.grid-item-7 {

    grid-column-start: 1; 
    grid-column-start: 2; 
}

.tear-container {
    display: grid; 
   /* justify-items: center; */
    grid-template-columns: minmax(0, 500px)  minmax(0, 500px);   
    grid-gap: 10px; 
    grid-template-areas: "left right";
    
}

.tear-grid-item{
    display: grid;
     

 /*   minmax(0, 1fr); */
}

p.tear-info{

    font-family:"Courier New" , "Monaco";
    text-align: justify; 

}

.album-title {

    font-family:"Impact"; 

    font-size: 50px; 
    font-weight:900; 
    right: 40px; 
    text-align:left;
    grid-area: "right"; 
    align-self: start; 
}




/* Styling image used ot trigger the modal or popup */

#Jin-image {
    cursor: pointer; 
   /* transition: 0.3s; */

}

#Jhope-image , #Namjoon-modal , #Suga-modal , #V-modal, #Jimin-modal , #Jk-modal{
    cursor: pointer; 
}

#Jin-image:hover {opacity: 0.6;}
#Jhope-image:hover {opacity: 0.6}
#NamImage:hover {opacity: 0.6}; 
#SugImage:hover {opacity: 0.6}

#VImage:hover {opacity: 0.6}

#JM-image:hover {opacity: 0.6}
#JK-image:hover {opacity: 0.6}



/*the modal or pop up window */
.modal {

    display: none; /* hidden at first */ 
    position: absolute; /* Stay in place */
    z-index: 1; /*sit on top */
    
    overflow: auto; /*if content is too big, allow scrolling */ 
    background-color: #FFB6C1;
    border: solid; 
    border-width: thick;
    border-color: #00008B; 

}

#Jin-modal {
    left: 180px; 
    top: 700px; 
    
    width: 53%; 
    height: 53%; 
}

#Jhope-modal {
    top: 700px; 
    left: 300px; 

    width: 53%; 
    height: 53%; 
}

#Namjoon-modal {
    top: 700px; 
    left: 420px; 
    width: 53%; 
    height:  53%; 
}
#Suga-modal {
    top: 1100px; 
    left: 180px; 

    width: 53%; 
    height: 53%; 
}

#V-modal {
    top: 1100px; 
    left: 380px; 

    width: 53%; 
    height: 53%; 
}
#Jimin-modal {
    top: 1100px; 
    left: 580px; 

    width: 53%; 
    height: 53%; 
}

#Jk-modal{
    top:1500px; 
    left: 380px; 

    width: 53%; 
    height: 53%; 
}


/* styling the image inside the pop up or modal */

.modal-content {
    display: block; 
    margin: auto; 
    float: left; 

    height: 100%; 

    /*height: 50%; */
    

}


#paca-1 {

    display:block; 
    margin: auto; 
    position: absolute; 
    bottom: 0; 
    right: 20px; 
    width: 70px; 
    height: 70px; 
}



.info {
    display: block; 
    text-align: left; 
   /* position: relative; */
    margin: auto; 
    right: 0px;  
    font-family: "Courier New" ; 
  /*  float: right; */


}

#header{

    text-align: center; 

    font-size: 30px; 
    left:10px; 
    top: 0%; 
}

.rest{
    font-size: 20px; 
    left: 10px;; 
    bottom: 30px; 
    

}

/*
#info, .modal-content {  adding animation-- zooming in 

    animation-name: zoom; 

}  


*/

.closebutton{

    position: absolute; 
    /*width: 1cm; */
    font-size: 30px; 
    top: 0px; 
    font-size: 40px; 
    font-weight: bold; 
    color:#6F00FF; 
    right: 1%; 
}

.closebutton:hover , .closebutton:focus {
    color: red;
    text-decoration: none;
    cursor:pointer;  


}

ul{
   padding-left: 60px; 
}

.slideshow-box {
    max-width: 600px; 
    position: relative; 
    margin: auto; 
}






iframe.video-slides {
    vertical-align: middle; 
}

.previous , .next {
    cursor: pointer; 
    position: absolute; 
    font-weight: bold; 
    font-size: 25px; 
    top: 55%; 
    padding: 15px; 
    margin-top: -22px; 
    width:auto; 

}

.next {
    right: 0cm; 
    margin-right: 50px; 
    color: red; 
    float:right; 
}

.previous {
    left:0px; 
    color: red; 
    float: left; 
    
}

.caption {
    color:#8D30F7;
    font-weight:900; 
    font-size: 15px; 
    position: absolute; 
    top: 525px; 
    width: 100%; 
    right:0cm; 
    text-align: center;
}



.previous:hover , .previous:focus, .next:hover , .next:focus {
    color: red;
    text-decoration: none;
    background-color: pink; 


}

.Slides {
    display: none; 
}

.caption {

    font-family:"Courier New" , "Monaco"; 
    font-size: 20px; 
    text-align: center; 
    position: absolute; 

}
/*ALBUMS STYLING */

/*SINGULARY --- TEAR -------------------------------------------------------------------------------- */




#chart-container  {
    
    
    align-items: center; 
    justify-content: space-between;
}

.child {
    display: inline-block; 
    vertical-align: middle; 
    
    width: 50%; 
    height: 50%; 
    
}

#child-1 {


    float:left; 
      margin-left:0px; 
    
}

#tear-chart {
    width: 40%; 
}

#melting-chart {
    width: 40%; 
}

#child-2 {
    float:right; 
    margin-right:0px; 
    padding: 20px; 
}

#tear-sales-chart {
    width: 40%
}

#melting-sales-chart {
    width: 40%; 
}

/*ALBUM MODAL POP UP */

.caption {
    cursor: pointer; 
   /* transition: 0.3s; */

}

.caption:hover {opacity: 0.6;}

.modal {

    display: none; /* hidden at first */ 
    position: absolute; /* Stay in place */
    z-index: 1; /*sit on top */
    
    overflow: auto; /*if content is too big, allow scrolling */ 
    background-color: #FFB6C1;
    border: solid; 
    border-width: thick;
    border-color: #00008B; 

}

#Tear-modal {
    left: 180px; 
    top: 662px; 
    
    width: 53%; 
    height: 50%; 
}


/* styling the image inside the pop up or modal */

.modal-videos {  /*videos*/
    display: block; 
    margin: auto; 
    float: top; 

    width: 100%; 

    /*height: 50%; */
    

}

.modal-button {
    display: block; 
    text-align: bottom; 
   /* position: relative; */
    margin: auto; 
    font-family: "Courier New" ; 
  /*  float: right; */



}

.b1{
    position: absolute; 
    left:0px; 
    bottom: 10px; 

}

.b2{
    position: absolute; 
    left:15px; 
    bottom: 10px; 

}

.b3{
    position: absolute; 
    left:25px; 
    bottom: 10px; 

}

.b4{
    position: absolute; 
    left:35px; 
    bottom: 10px; 

}



.tear-close-button{

    position: absolute; 
    /*width: 1cm; */
    font-size: 30px; 
    top: 0px; 
    font-size: 40px; 
    font-weight: bold; 
    color:#6F00FF; 
    right: 1%; 
}

.tear-close-button:hover , .closebutton:focus {
    color: red;
    text-decoration: none;
    cursor:pointer;  


}

.data-button {
    background-color: #FFD700; 
    border: 3px solid #DAA520; 
    color:#4B0082; 
    text-align: center; 
    float: right; 
    margin: 4px 2px; 
    font-size: 20px; 
    transition-duration: 0.5s; 
    font-family: "Courier New"; 
    font-weight: 900;
    margin-right: 350px; 
    
    padding: 16px 32px; 
    

}

.data-button:hover {
    background-color: white; 

}

.chart-2-container {

    align-items: center; 
    justify-content: space-between;
    text-align: center; 
    justify-content: center; 


}

.album-data {
    display: inline-block; 
    vertical-align: middle; 

    width: 350px; 
    height: 350px; 

    


}





#data-1 {

    position: absolute; 
    top: 2200px; 
    left: 75px; 
}



#data-2 {
    position:absolute; 
    top: 2200px; 
    left: 555px; 

}

#data-3{
    position:absolute; 
    top: 2200px; 
    right: 60px; 
    width: 350px; 
    height: 200px; 
}

#europe-chart {
    width: 300px; 
    height: 200px; 
}

#mamamoo-head-img {
    position: absolute; 
    text-align: center; 
    top: 100px; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    border: 10px solid #FFD700; 

    /*FFD700*/
}

.moo-grid-container {
    display: grid; 
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    row-gap: 50px;
    position: absolute; 
    top: 900px; 
    right:0px; 
    left: 0px; 

    
}



.moo-1, .moo-3 , .moo-6 , .moo-8 {
    border: 6px solid #FFD700; 
    background-color: black; 
}


.flip-box-1 {

    background-color: transparent; 
    width:300px; 
    height:300px; 

}

.flip-box-2, .flip-box-3, .flip-box-4 {
    background-color: transparent; 
    width:300px; 
    height:300px; 
}








.flip-box-1-inside , .flip-box-2-inside, .flip-box-3-inside , .flip-box-4-inside{
    position: relative; 
    width: 100%; 
    height: 100%; 
    transition: transform 0.8s;
    transform-style: preserve-3d;
 
}

.flip-box-1:hover .flip-box-1-inside {
    transform: rotateY(180deg); /* when you wanna horizontally flip it. rotate it against the y axis */

}

.flip-box-2:hover .flip-box-2-inside {
    transform: rotateY(180deg); /* when you wanna horizontally flip it. rotate it against the y axis */

}

.flip-box-3:hover .flip-box-3-inside {
    transform: rotateY(180deg); /* when you wanna horizontally flip it. rotate it against the y axis */

}

.flip-box-4:hover .flip-box-4-inside {
    transform: rotateY(180deg); /* when you wanna horizontally flip it. rotate it against the y axis */

}



.box-1-front , .box-1-back , .box-2-front, .box-2-back, .box-3-front, .box-3-back, .box-4-front, .box-4-back{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    -webkit-backface-visibility: hidden; 
    /*determines whether the back face of an element should be visible or not 
    in this case -- we don't want it to be visible until user hovers over it */
    backface-visibility: hidden; 




}

.box-1-front , .box-2-front, .box-3-front, .box-4-front {
    background-color: black;
}



.box-1-back , .box-2-back, .box-3-back, .box-4-back{
    transform: rotateY(180deg); 
    width: 100%; 
    height: 100%; 
    color: white;
    font-family:"Courier New" , "Monaco"; 
    font-size: 16px; 
    font-weight:800; 
    background-color: black; 

}

.moo-album-container {
    display: grid; 
    grid-template-columns: 200px 200px 200px;

    grid-gap: 300px;

    
}

.moo-album {
    margin-top: 45cm; 
}


.moo-album-1 , .moo-album-2 , .moo-album-3 {
    border: 6px solid #FFD700; 
     border-style:dotted; 


}

#melting {
    font-size: 80px; 
    font-family: bradley hand, cursive; 
    color: black; 
    font-weight:900; 
    position: absolute; 
    left: 600px; 
}

/*designing the flip card itself: set it's width and it should not have a background color */

.flip-card{
    background-color: transparent; 
    width:500px; 
    height:500px; 
    position: absolute; 
    top: 300px;
    left: 500px; 
    
}



/* for the inside of the flip card -- front and back --- front and back --- 500px by 500px 
when it is flipped over--- take 0.8 s to do that transition */

.flip-card-inner, .flipping-inner{
    position: relative; 
    width: 100%; 
    height: 100%; 
    transition: transform 0.8s;
    transform-style: preserve-3d;
 
}



/*when u hover over the card on the front or back side with your mouse, flip the card along the y axis --- flip horizontally*/


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); 
}



.flip-card-front, .flip-card-back , .flipping-card-front , .flipping-card-back {
    position: absolute; 
    width: 100%; 
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: orange; 
}


.flip-card-back {
    color: white; 
    width: 100%;
    height: 100%;  
    background-color: #EC5800	; 
    transform:rotateY(180deg); 
    font-size: 20px; 
    position: absolute; 
}


#idk {
    position: relative; 
    top:100x; 
    left:300px; 
    color: white; 
    white-space: nowrap;
    overflow: visible;

}

#live , #love {
    font-family: bradley hand, cursive;
    font-size: 30px; 

}



#live {
    position: relative; 
    top: 100px; 
    right: 5px; 
    white-space: nowrap;
    overflow: visible;

}
#love {
    position: relative; 
    top: 200px; 
    right: 285px; 
    white-space: nowrap;
    overflow: visible;

}


#solar-name {
    position: absolute; 
    font-family: bradley hand, cursive; 
    top: -20px;
    font-size: 25px; 
    font-weight: 400;  
    right: 75px; 
    
}

#hwasa-name {
    position: absolute; 
    font-family: bradley hand, cursive; 
    top: -20px;
    font-size: 25px; 
    font-weight: 400;  
    right: 85px; 
    white-space: nowrap;
    overflow: visible;
}

#wheein-name {

    position: absolute; 
    font-family: bradley hand, cursive; 
    top: -10px;
    font-size: 25px; 
    font-weight: 400;  
    right: 30px; 
    white-space: nowrap;
    overflow: visible;

}

#moon-name {

    position: absolute; 
    font-family: bradley hand, cursive; 
    top: -10px;
    font-size: 25px; 
    font-weight: 400;  
    right: 75px; 
    white-space: nowrap;
    overflow: visible;

}



#solar-stage-name {
    position: absolute; 
    font-family: bradley hand, cursive; 
    top: 20px; 
    right: 107px; 
    font-size: 25px; 
    font-weight: 400; 


}

#hwasa-stage-name {
    position: absolute; 
    font-family: bradley hand, cursive; 
    top: 20px; 
    right: 105px; 
    font-size: 25px; 
    font-weight: 400; 
}

#wheein-stage-name {
    position: absolute; 
    font-family: bradley hand, cursive; 
    top: 45px; 
    right: 95px; 
    font-size: 25px; 
    font-weight: 400; 
    
}

#moon-stage-name {
    position: absolute; 
    font-family: bradley hand, cursive; 
    top: 45px; 
    right: 90px; 
    font-size: 25px; 
    font-weight: 400; 
    
}
#solar-birth {
    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight:200; 
    top:100px; 
    right: 20px; 
    white-space: nowrap;
    overflow: visible;
}

#hwasa-birth {

    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight:200; 
    top:100px; 
    right: 30px; 
    white-space: nowrap;
    overflow: visible;

}

#wheein-birth {
    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight:200; 
    top:130px; 
    right: 20px; 
    white-space: nowrap;
    overflow: visible;
}

#moon-birth {
    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight:200; 
    top:130px; 
    right: 20px; 
    white-space: nowrap;
    overflow: visible;
}

#solar-position {
    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight: 200; 
    top:180px; 
    right: 20px; 
    white-space: nowrap;
    overflow: visible;
    

}

#hwasa-position {
    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight: 200; 
    top:180px; 
    right: 20PX; 
    white-space: nowrap;
    overflow: visible;
}

#wheein-position {
    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight: 200; 
    top:190px; 
    right: 20px; 
    white-space: nowrap;
    overflow: visible;
}

#moon-position {
    position: absolute; 
    font-family: bradley hand, cursive; 
    font-size: 23px; 
    font-weight: 200; 
    top:190px; 
    right: 20px; 
    white-space: nowrap;
    overflow: visible;
}





#solar-name, #solar-stage-name , #solar-birth , #solar-position, #hwasa-name, #hwasa-stage-name , #hwasa-birth, #hwasa-position , #wheein-name, #wheein-stage-name , #wheein-birth, #wheein-position, #moon-name , #moon-stage-name , #moon-birth , #moon-position{
    color: #FFD700; 
}

















